@{
    ViewData["Title"] = "Home Page";
}

<style>
    .grafico {
    -webkit-box-shadow: 1px 5px 5px 10px rgba(139, 142, 142, 0.26);
    -moz-box-shadow: 1px 5px 5px 10px rgba(139, 142, 142, 0.26);
    box-shadow: 1px 5px 5px 10px rgba(139, 142, 142, 0.26);
    display: inline-block;
    margin-right: 30px;
    background-color: #fff;
    width:1000px;
    height: 500px;
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="grafico" class="grafico container"></div>


@section Scripts{ 

    <script>
         var myChart = echarts.init(document.getElementById('grafico'));
         var option = {
            title: {
                text: '折线图堆叠'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {},
                    myExcelIco: {
                        show: true,
                        title: 'Download Exel',
                        icon: 'image://https://img.icons8.com/color/48/000000/export-excel.png',
                        onclick: function () {
                            var getOption = myChart.getOption().series;
                            var Array = [];
                            $(getOption).each(function (key, value) {
                                var serie = {
                                    name: value.name,
                                    data: value.data
                                };

                                Array.push(serie);                                
                            });
                            var Dados = {
                                dados: Array
                            };
                            $.post('/Guarda', { json: JSON.stringify(Dados) }, function (result) {
                                window.location = '/Excel';
                            });                        
                        }
                    }
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '邮件营销',
                    type: 'line',
                    stack: '总量',
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: '联盟广告',
                    type: 'line',
                    stack: '总量',
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: '视频广告',
                    type: 'line',
                    stack: '总量',
                    data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: '直接访问',
                    type: 'line',
                    stack: '总量',
                    data: [320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name: '搜索引擎',
                    type: 'line',
                    stack: '总量',
                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                }
            ]
        };
        
    myChart.setOption(option);
    </script>

}